{% extends 'base.html' %}
{% load core_tags thumbnail webp_converter %}
{% block content %}
  {% load i18n static %}
  <section class="section-side-image clearfix">
    <div class="img-holder col-md-12 col-sm-12 col-xs-12">
      <div class="background-imgholder" style="background: url({% static "images/users-background-min.webp" %});"><img alt="" class="nodisplay-image" src="{% static "images/users-background-min.webp" %}"> </img></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
          <div class="header-inner less-height">
            <div class="overlay">
              <div class="text text-center">
                <h3 class="uppercase text-white less-mar-1 title">Personas Increíbles</h3>
                <h6 class="uppercase text-white sub-title"> Que te encantaría conocer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end header section -->
  <!--end section-->
  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="clearfix">
          <div class="cbp-l-filters-dropdown cbp-l-filters-dropdown-floated" id="js-filters-lightbox-gallery1">
            <div class="cbp-l-filters-dropdownWrap">
              <div class="cbp-l-filters-dropdownHeader">Filtrar Usuarios</div>
              <div class="cbp-l-filters-dropdownList">
                <div class="cbp-filter-item-active cbp-filter-item" data-filter="*">Todos</div>
                {% for profession in professions %}
                  <div class="cbp-filter-item" data-filter=".{{ profession.slug }}">{{ profession.title }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="cbp-l-filters-button cbp-l-filters-left" id="js-filters-lightbox-gallery2">
            <div class="cbp-filter-item-active cbp-filter-item" data-filter="*">All</div>
            {% for profession in professions %}
              <div class="cbp-filter-item" data-filter=".{{ profession.slug }}">{{ profession.title }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="cbp" id="js-grid-lightbox-gallery">
          {% for user in object_list %}
            <div class="cbp-item {{ user.profession.slug }} print motion">
              <a class="cbp-caption" data-title="{{ user.get_full_name }}" href="{% url 'user_profile' user.id %}" rel="nofollow">
                <div class="ce-feature-box-61 margin-bottom">
                  <div class="img-box-main">
                    <div class="img-box">
                      <div class="overlay text-center">
                        <p>{% if user.brief_introduction %}{{ user.brief_introduction }}{% endif %}</p>
                        <br/>
                        <ul class="sc-icons">
                          {% if user.linkedin_profile %}
                          <li><a href="{{ user.get_linkedin_profile_url }}"><i class="fa fa-linkedin"></i></a></li>
                          {% endif %}
                          {% if user.instagram_profile %}
                          <li><a href="{{ user.get_instagram_profile_url }}"><i class="fa fa-instagram"></i></a></li>
                          {% endif %}
                          {% if user.facebook_profile %}
                          <li><a href="{{ user.get_facebook_profile_url }}"><i class="fa fa-facebook"></i></a></li>
                          {% endif %}
                          {% if user.gplus_profile %}
                          <li><a href="{{ user.get_gplus_profile_url }}"><i class="fa fa-google-plus"></i></a></li>
                          {% endif %}
                          {% if user.twitter_profile %}
                          <li><a href="{{ user.get_twitter_profile_url }}"><i class="fa fa-twitter"></i></a></li>
                          {% endif %}
                        </ul>
                      </div>
                      {% if user.picture %}
                        {% thumbnail user.picture "500x600" format="WEBP" crop="center" as im %}
                          <img alt="{{ user.get_full_name }}" class="img-responsive" src="{{ im.url }}"/>
                        {% endthumbnail %}
                      {% else %}
                        <img alt="" class="img-responsive" src="http://via.placeholder.com/500x600"/>
                      {% endif %}
                    </div>
                    <div class="text-box padding-3 text-center">
                      <a href="{% url "user_profile" user.pk %}"><h5 class="less-mar-1">{{ user.get_full_name }}</h5></a>
                      <p>{{ user.profession }}</p>
                    </div>
                  </div>
                </div>

              </a>
            </div>
          {% endfor %}
        </div>
        <div class="cbp-l-loadMore-button" id="js-loadMore-lightbox-gallery">
          <a class="cbp-l-loadMore-link" href="js/cubeportfolio/ajax-lightbox-gallery/loadMore.html" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
            <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!-- end section -->
{% endblock %}

{% block extra_template_scripts %}
  <!-- Template scripts -->
  <script type="text/javascript" src="{% static "js/cubeportfolio/jquery.cubeportfolio.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/cubeportfolio/lightbox-gallery.js" %}"></script>
{% endblock %}

