{% extends 'base.html' %}
{% load core_tags thumbnail %}
{% load static i18n %}
{% block content %}
  <div class="wrapper-boxed">
    <div class="clearfix"></div>
    <!--end header section -->
    <section>
      <div class="pagenation-holder">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4>{{ user.get_full_name }}</h4>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb">
                <li><a href="#">{% trans "Home" %}</a></li>
                <li><a href="#">{% trans "Personas" %}</a></li>
                <li class="current"><a href="#">{{ user.get_full_name }}</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    <section class="sec-padding sec-padding-6">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              {% thumbnail user.picture "740x740" crop="center" as picture %}
                <img alt="" class="img-responsive" src="{{ picture.url }}"/>
              {% endthumbnail %}
            </div>
            <div class="col-md-12">
              <div class="pages-sidebar-item" style="margin-bottom: 0px;">
                <div class="pages-sidebar-item" style="margin-bottom: 0px;">
                  <ul class="port-project-info" style="border: none; padding: 20px 0px 0px 10px">
                    <li><span>Nombre</span> {{ user.get_full_name }}</li>
                    <li><span>Joined</span> {{ user.date_joined | date }}</li>
                    <li><span>Email</span> {{ user.email }}</li>
                    {% if user.city %}<li><span>Ciudad</span> {{ user.city }}</li>{% endif %}
                    <ul class="social-icons h-anim-rotate socila-sm">
                      {% if user.facebook_profile %}
                        <li class="hover-facebook">
                          <a href="{{ user.get_facebook_profile_url }}">
                            <i aria-hidden="true" class="fa fa-facebook"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.twitter_profile %}
                        <li class="hover-twitter">
                          <a href="{{ user.get_twitter_profile_url }}">
                            <i aria-hidden="true" class="fa fa-twitter"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.instagram_profile %}
                        <li class="hover-instagram">
                          <a href="{{ user.get_instagram_profile_url }}">
                            <i aria-hidden="true" class="fa fa-instagram"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.linkedin_profile %}
                        <li class="hover-linkedin">
                          <a href="{{ user.get_linkedin_profile_url }}">
                            <i aria-hidden="true" class="fa fa-linkedin"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.youtube_profile %}
                        <li class="hover-youtube">
                          <a href="{{ user.get_youtube_profile_url }}">
                            <i aria-hidden="true" class="fa fa-youtube"></i>
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!--end item-->
          </div>
          <!--end left col-->
          <div class="col-md-6 col-sm-12 col-xs-12 section-white">
            <div class="pages-sidebar-item" style="margin-bottom: 15px;">
              <h5 class="uppercase pages-sidebar-item-title">{{ user.profession }}</h5>
              <p>{{ user.brief_introduction }}</p>
              <ul class="port-project-info" style="border: none; padding: 10px 0px;">
                <li><span>{% trans "Proyectos Vistos" %}</span> {{ user.projects_viewed.count }}</li>
                <li><span>{% trans "Valoraciones" %}</span> {{ user.projects_liked.count }}</li>
                <li><span>{% trans "Seguidores" %}</span> {{ user.followed_by.count }}</li>
                <li><span>{% trans "Siguiendo" %}</span> {{ user.following.count }}</li>
              </ul>
            </div>
            <!--end item holder-->
            {% if user.skills.exists %}
              <div class="pages-sidebar-item" style="margin-bottom: 25px;">
                <h5 class="uppercase pages-sidebar-item-title">{% trans "Habilidades" %}</h5>
                <ul class="pages-tags">
                  {% for skill in user.skills.all %}
                    <li><a href="#">{{ skill.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if user.interests.exists %}
              <div class="pages-sidebar-item" style="margin-bottom: 25px;">
                <h5 class="uppercase pages-sidebar-item-title">{% trans "Intereses" %}</h5>
                <ul class="pages-tags">
                  {% for interest in user.interests.all %}
                    <li><a href="#">{{ interest.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <!--end item holder-->
          </div>
        </div>
    </section>
    {% if user.has_projects %}
      <section class="sec-bpadding-5">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="sec-title-container less-padding-5 text-center">
                <h4 class="uppercase font-weight-7 less-mar-1">{% trans "MIS PROYECTOS" %}</h4>
                <div class="sp-title-line-1"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <!--end title-->

            {% for project in user.my_projects.all %}
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <a href="{% url "detail_project_view" project.id %}">
                    <div class="img-box">
                      {% thumbnail project.get_primary_image "600x700" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-responsive"/>
                      {% endthumbnail %}
                      <div class="clearfix"></div>
                      <br/>
                      <h5 class="less-mar-1">{{ project.title }}</h5>
                      {% if project.brief_description %}
                        <p>{{ project.brief_description }}</p>
                      {% else %}
                        <p><a href="{% url 'user_profile' project.owner.pk %}">{{ project.owner.get_full_name }}</a></p>
                      {% endif %}
                      <br/>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
            {% for project in user.projects.all %}
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <a href="{% url "detail_project_view" project.id %}">
                    <div class="img-box">
                      <div class="badge">CREADOR</div>
                      {% thumbnail project.get_primary_image "600x700" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-responsive"/>
                      {% endthumbnail %}
                      <div class="clearfix"></div>
                      <br/>
                      <h5 class="less-mar-1">{{ project.title }}</h5>
                      {% if project.brief_description %}
                        <p>{{ project.brief_description }}</p>
                      {% else %}
                        <p><a href="{% url 'user_profile' project.owner.pk %}">{{ project.owner.get_full_name }}</a></p>
                      {% endif %}
                      <br/>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="sec-title-container less-padding-5 text-center">
                <h4 class="uppercase font-weight-7 less-mar-1">{% trans "PROYECTOS VALORADOS" %}</h4>
                <div class="sp-title-line-1"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    <div class="clearfix"></div>    <!-- end section -->
    <section class="section-primary">
      <div class="container">
        <div class="divider-line solid light opacity-1"></div>
        <div class="row sec-padding-7">
          <ul class="clients-list grid-cols-5 hover-7 noborder">
            {% for project in user.projects_liked.all %}
              {% thumbnail project.images.first.file "275x300" crop="center" as im %}
                <li><a href="#"><img alt="" class="img-responsive" src="{{ im.url }}"/></a></li>
              {% endthumbnail %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <div class="section-dark sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 colmargin clearfix margin-bottom">
            <div class="fo-map">
              <div class="footer-logo"><img alt="" src="{% static "images/logo/logo.png" %}  "/></div>
              <address>
                <strong class="text-white">Address:</strong>
                <br/>
                No.28 - 63739 street lorem ipsum,
                <br/>
                ipsum City, Country
              </address>
              <span><strong class="text-white">Phone:</strong> + 1 (234) 567 8901</span><br/>
              <span><strong class="text-white">Email:</strong> support@yoursite.com </span><br/>
              <span><strong class="text-white">Fax:</strong> + 1 (234) 567 8901</span>
              <ul class="footer-social-icons primary left-align icons-plain text-center">
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-3 col-xs-12 clearfix margin-bottom">
            <h4 class="text-white uppercase less-mar3 font-weight-5">Popular Services</h4>
            <div class="clearfix"></div>
            <div class="footer-title-bottomstrip"></div>
            <ul class="footer-quick-links-4 white">
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam porttitor vestibulum ipsum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
            </ul>
          </div>
          <!--end item-->
          <div class="col-md-3 col-sm-12 col-xs-12 bmargin clearfix margin-bottom">
            <div class="item-holder">
              <h4 class="text-white uppercase less-mar3 font-weight-5">Recent Posts</h4>
              <div class="fo-title-bottom-line white"></div>
              <div class="clearfix"></div>
              <div class="fo-posts">
                <div class="imgbox-medium left"><img alt="" class="img-responsive" src="http://via.placeholder.com/300x300"/></div>
                <div class="text-box-right">
                  <h6 class="less-mar3 uppercase nopadding text-white"><a href="#">Aenean arcu tortor</a></h6>
                  <p>Lorem ipsum dolor</p>
                  <div class="post-info"> <span>By John Doe</span><span>May 15</span> </div>
                </div>
              </div>
              <div class=" divider-line light solid light opacity-1 "></div>
              <div class="clearfix"></div>
              <br>
              <div class="fo-posts">
                <div class="imgbox-medium left"><img alt="" class="img-responsive" src="http://via.placeholder.com/300x300"/></div>
                <div class="text-box-right">
                  <h6 class="less-mar3 uppercase nopadding text-white"><a href="#">Maecenas sed nisl amet</a></h6>
                  <p>Lorem ipsum dolor</p>
                  <div class="post-info"> <span>By John Doe</span><span>May 15</span> </div>
                </div>
              </div>
              </br>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-3 col-xs-12 clearfix margin-bottom">
            <h4 class="text-white uppercase less-mar3 font-weight-5">Need Help</h4>
            <div class="clearfix"></div>
            <div class="footer-title-bottomstrip"></div>
            <ul class="footer-quick-links-4 white">
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam porttitor vestibulum ipsum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
            </ul>
          </div>
          <!--end item-->
          <div class="clearfix"></div>
          <div class="col-divider-margin-5"></div>
          <div class="col-md-12">
            <input class="bb-newsletter" placeholder="Your Name" type="search"/>
            <input class="bb-newsletter-email" placeholder="Email Address" type="search"/>
            <input class="bb-newsletter-btn" name="search" type="submit" value="Submit"/>
          </div>
          <!--end newsletter-->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- end section -->
    <section class="sec-padding-6">
      <div class="container">
        <div class="row">
          <div class="fo-copyright-holder text-center">
            Copyright © 2017 l yourdomain.com. All rights reserved. </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <a class="scrollup" href="#"></a><!-- end scroll to top of the page-->
  </div>
  <!--end site wrapper-->
{% endblock %}
