{% extends 'base.html' %}
{% load core_tags thumbnail %}
{% load static i18n %}
{% block content %}
  <div class="wrapper-boxed">
    <div class="clearfix"></div>
    <!--end header section -->
    <section>
      <div class="pagenation-holder">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4>{{ user.get_full_name }}</h4>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb">
                <li><a href="#">{% trans "Home" %}</a></li>
                <li><a href="#">{% trans "Personas" %}</a></li>
                <li class="current"><a href="#">{{ user.get_full_name }}</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    <section class="sec-padding sec-padding-6">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              {% thumbnail user.picture "740x740" format="WEBP" crop="center" as picture %}
                <img alt="" class="img-responsive" src="{{ picture.url }}"/>
              {% endthumbnail %}
            </div>
            <div class="col-md-12">
              <div class="pages-sidebar-item" style="margin-bottom: 0px;">
                <div class="pages-sidebar-item" style="margin-bottom: 0px;">
                  <ul class="port-project-info" style="border: none; padding: 20px 0px 0px 10px">
                    <li><span>Nombre</span> {{ user.get_full_name }}</li>
                    <li><span>Joined</span> {{ user.date_joined | date }}</li>
                    <li><span>Email</span> {{ user.email }}</li>
                    {% if user.city %}<li><span>Ciudad</span> {{ user.city }}</li>{% endif %}
                    <ul class="social-icons h-anim-rotate socila-sm">
                      {% if user.facebook_profile %}
                        <li class="hover-facebook">
                          <a href="{{ user.get_facebook_profile_url }}">
                            <i aria-hidden="true" class="fa fa-facebook"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.twitter_profile %}
                        <li class="hover-twitter">
                          <a href="{{ user.get_twitter_profile_url }}">
                            <i aria-hidden="true" class="fa fa-twitter"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.instagram_profile %}
                        <li class="hover-instagram">
                          <a href="{{ user.get_instagram_profile_url }}">
                            <i aria-hidden="true" class="fa fa-instagram"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.linkedin_profile %}
                        <li class="hover-linkedin">
                          <a href="{{ user.get_linkedin_profile_url }}">
                            <i aria-hidden="true" class="fa fa-linkedin"></i>
                          </a>
                        </li>
                      {% endif %}
                      {% if user.youtube_profile %}
                        <li class="hover-youtube">
                          <a href="{{ user.get_youtube_profile_url }}">
                            <i aria-hidden="true" class="fa fa-youtube"></i>
                          </a>
                        </li>
                      {% endif %}
                      <li class="hover-message">
                        <a href="{{ user.get_youtube_profile_url }}" data-target="#modal-switch" data-toggle="modal"><i aria-hidden="true" class="fa fa-envelope"></i> Mensaje</a>
                        <div aria-labelledby="modal-switch-label" class="modal fade" id="modal-switch" role="dialog" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <div class="modal-title" id="modal-switch-label"><h4>Enviar Mensaje</h4></div>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <textarea class="textaria-1" id="comment" name="message" placeholder="Enter your message"></textarea>
                                  </div>
                                </div>
                                <!-- end row -->
                                <div class="row">
                                  <br/>
                                  <div class="col-md-12 text-center">
                                    <button class="btn btn-dark btn-medium uppercase" type="submit">
                                      <i class="fa fa-paper-plane"></i>
                                      Enviar
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!--end item-->
          </div>
          <!--end left col-->
          <div class="col-md-6 col-sm-12 col-xs-12 section-white">
            <div class="pages-sidebar-item" style="margin-bottom: 15px;">
              <h5 class="uppercase pages-sidebar-item-title">{{ user.profession }}</h5>
              <p>{{ user.brief_introduction }}</p>
              <ul class="port-project-info" style="border: none; padding: 10px 0px;">
                <li><span>{% trans "Proyectos Vistos" %}</span> {{ user.projects_viewed.count }}</li>
                <li><span>{% trans "Valoraciones" %}</span> {{ user.projects_liked.count }}</li>
                <li><span>{% trans "Seguidores" %}</span> {{ user.followed_by.count }}</li>
                <li><span>{% trans "Siguiendo" %}</span> {{ user.following.count }}</li>
              </ul>
            </div>
            <!--end item holder-->
            {% if user.skills.exists %}
              <div class="pages-sidebar-item" style="margin-bottom: 25px;">
                <h5 class="uppercase pages-sidebar-item-title">{% trans "Habilidades" %}</h5>
                <ul class="pages-tags">
                  {% for skill in user.skills.all %}
                    <li><a href="#">{{ skill.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if user.interests.exists %}
              <div class="pages-sidebar-item" style="margin-bottom: 25px;">
                <h5 class="uppercase pages-sidebar-item-title">{% trans "Intereses" %}</h5>
                <ul class="pages-tags">
                  {% for interest in user.interests.all %}
                    <li><a href="#">{{ interest.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <!--end item holder-->
          </div>
        </div>
    </section>
    {% if user.has_projects %}
      <section class="sec-bpadding-5">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="sec-title-container less-padding-5 text-center">
                <h4 class="uppercase font-weight-7 less-mar-1">{% trans "MIS PROYECTOS" %}</h4>
                <div class="sp-title-line-1"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <!--end title-->

            {% for project in user.my_projects.all %}
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <a href="{% url "detail_project_view" project.id %}">
                    <div class="img-box">
                      {% thumbnail project.get_primary_image "600x700" format="WEBP" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-responsive"/>
                      {% endthumbnail %}
                      <div class="clearfix"></div>
                      <br/>
                      <h5 class="less-mar-1">{{ project.title }}</h5>
                      {% if project.brief_description %}
                        <p>{{ project.brief_description }}</p>
                      {% else %}
                        <p><a href="{% url 'user_profile' project.owner.pk %}">{{ project.owner.get_full_name }}</a></p>
                      {% endif %}
                      <br/>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
            {% for project in user.projects.all %}
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <a href="{% url "detail_project_view" project.id %}">
                    <div class="img-box">
                      <div class="badge">CREADOR</div>
                      {% thumbnail project.get_primary_image "600x700" format="WEBP" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-responsive"/>
                      {% endthumbnail %}
                      <div class="clearfix"></div>
                      <br/>
                      <h5 class="less-mar-1">{{ project.title }}</h5>
                      {% if project.brief_description %}
                        <p>{{ project.brief_description }}</p>
                      {% else %}
                        <p><a href="{% url 'user_profile' project.owner.pk %}">{{ project.owner.get_full_name }}</a></p>
                      {% endif %}
                      <br/>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-xs-12 nopadding">
              <div class="sec-title-container less-padding-5 text-center">
                <h4 class="uppercase font-weight-7 less-mar-1">{% trans "PROYECTOS VALORADOS" %}</h4>
                <div class="sp-title-line-1"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    <div class="clearfix"></div>    <!-- end section -->
    <section class="section-primary">
      <div class="container">
        <div class="divider-line solid light opacity-1"></div>
        <div class="row sec-padding-7">
          <ul class="clients-list grid-cols-5 hover-7 noborder">
            {% for project in user.projects_liked.all %}
              {% thumbnail project.images.first.file "275x300" format="WEBP" crop="center" as im %}
                <li><a href="#"><img alt="" class="img-responsive" src="{{ im.url }}"/></a></li>
              {% endthumbnail %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    <!-- end section -->
  </div>
  <!--end site wrapper-->
{% endblock %}
