{% extends 'base.html' %}
{% load core_tags %}
{% block content %}
  {% load i18n static %}
  <section class="sec-padding">
    <div class="container">
      <div class="col-md-12 text-center"><h4 class="uppercase">{% trans "Crear Nuevo Proyecto" %}</h4></div>
      <div class="clearfix"></div>
      <br/> <br/>
      {% if form.errors %}
        {{ form.errors }}
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-body bg-light">

          <div class="row">
            <div class="col-md-12">
              <label class="lable-text" for="title">{% trans "Titulo del Proyecto" %}</label>
              {{ form.title | add_css_class:"input-1" }}
            </div>
            <div class="col-md-12">
              <label class="lable-text" for="description">{% trans "Descripción breve" %}</label>
              {{ form.brief_description | add_css_class:"input-1" }}
            </div>
            <div class="col-md-12">
              <label class="lable-text" for="description">{% trans "Descripción" %}</label>
              {{ form.description | add_css_class:"input-1" }}
            </div>
            <div class="col-md-12">
              <label class="lable-text" for="license">{% trans "Licencia" %}</label>
              <div class="select-box">
                {{ form.license|add_css_class:"select-box-2" }}
                <div class="select__arrow"></div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="lable-text" for="visibility">{% trans "Visibilidad" %}</label>
              <div class="select-box">
                {{ form.visibility|add_css_class:"select-box-2" }}
                <div class="select__arrow"></div>
              </div>
            </div>

          </div>
          <!-- end row -->
          <div class="row">
            <div class="col-md-6">
              <label class="lable-text" for="collaborators">{{ form.collaborators.label }}</label>
              {{ form.collaborators | add_css_class:"input-1" }}
            </div>
          </div>
          <!-- end row -->
          <div class="row">
            <br/>
            <div class="col-md-12 text-center">
              <button class="btn btn-dark btn-medium uppercase" type="submit">
                <i class="fa fa-paper-plane"></i>
                {% trans "Cargar Proyecto" %}
              </button>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!--end form body-->
      </form>
    </div>
  </section>
{% endblock %}