{% extends 'base.html' %}
{% load thumbnail %}
{% load core_tags %}
{% load static i18n %}
{% block content %}
  <div class="wrapper-boxed">
    <div class="clearfix"></div>
    <!--end header section -->
    <section>
      <div class="pagenation-holder">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4 class="uppercase">{{ object.title }}</h4>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb">
                <li><a href="#">{% trans "Inicio" %}</a></li>
                <li><a href="#">{% trans "Proyectos" %}</a></li>
                <li class="current"><a href="#">{{ object.title }}</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end section-->
    <section class="sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="carousel_holder">
              <div class="bg2-featurebox-6">
                <div id="sync1" class="owl-carousel">
                  {% for image in object.images.all %}
                    <div class="item"><img style="margin: auto" src="{{ image.file.url }}" alt="" class="img-responsive"></div>
                  {% endfor %}
                </div>
              </div>
              <br/>
              <div class="ce4-feature-box-42">
                <div id="sync2" class="owl-carousel">
                  {% for image in object.images.all %}
                    {% thumbnail image.file "200x150" padding=True as im %}
                      <div class="item"><img style="margin: auto" src="{{ im.url }}" alt="" class="img-responsive"/></div>
                    {% endthumbnail %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <br/>
            <div>
              <h4 class="uppercase title"><a href="#">{{ object.title }} </a></h4>
              <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
              <br/>
              <p>{{ object.description }}</p>
            </div>
            <!--end post item-->

            <div class="clearfix"></div>
            <br/>
            <h4>3 Comments</h4>
            {% for comment in object.comments.all %}
            <div class="text-box border white padding-4">
              <div class="imgbox-medium left round overflow-hidden"><img src="{{ comment.author.avatar.a }}" alt="" class="img-responsive"/></div>
              <div class="text-box-right more-padding-1">
                <h5 class="less-mar-1">{{ comment.author }}</h5>
                <div class="blog-post-info"><span>{{ comment.created | timesince }}</span></div>
                <br/>
                <p>{{ comment.comment }} </p>
                <br/>
                <a class="btn btn-border less-bor dark btn-small" href="#"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Responder</a> </div>
            </div>
            {% endfor %}
            <!--end comment box-->

            <div class="col-divider-margin-2"></div>
            <div class="text-box border white padding-4">
              <div class="imgbox-medium left round overflow-hidden"><img src="http://via.placeholder.com/350x350" alt="" class="img-responsive"/></div>
              <div class="text-box-right more-padding-1">
                <h5 class="less-mar-1">John William</h5>
                <div class="blog-post-info"><span>July 15 2015 at 10:30 AM</span></div>
                <br/>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue  amet consectetuer adipiscing. </p>
                <br/>
                <a class="btn btn-border less-bor dark btn-small" href="#"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply</a> </div>
            </div>
            <!--end comment box-->

            <div class="col-divider-margin-2"></div>
            <div class="col-md-11 pull-right">
              <div class="text-box border white padding-4">
                <div class="imgbox-medium left round overflow-hidden"><img src="http://via.placeholder.com/350x350" alt="" class="img-responsive"/></div>
                <div class="text-box-right more-padding-1">
                  <h5 class="less-mar-1">John William</h5>
                  <div class="blog-post-info"><span>July 15 2015 at 10:30 AM</span></div>
                  <br/>
                  <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue  amet consectetuer adipiscing. </p>
                  <br/>
                  <a class="btn btn-border less-bor dark btn-small" href="#"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply</a> </div>
              </div>
              <!--end comment box-->
            </div>
            <!--end less width comment box-->

            <div class="clearfix"></div>
            <br/>
            <br/>
            <a class="btn btn-dark-3 btn-large uppercase" href="#">Cargar Más Comentarios</a>
            <div class="clearfix"></div>
            <br/>
            <br/>
            <h4>Enviar Comentario</h4>
            <textarea class="bg-ctexteria" placeholder="Escriba aquí su comentario..."></textarea>
            <div class="clearfix"></div>
            <br/>
            <a class="btn btn-dark-3 btn-large uppercase" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Enviar</a> </div>
          <!--end left col main-->

          <div class="col-md-4 col-sm-12 col-xs-12 section-white">
            <div class="pages-sidebar-item">
              <h5 class="uppercase pages-sidebar-item-title">Team</h5>
              <ul class="pages-sidebar-links">
                {% for user in project.collaborators.all %}
                  <li><a href="{% url "user_profile" user.pk %}">{{ user.get_full_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <!--end item holder-->

            {% if related_projects %}
              <div class="pages-sidebar-item">
                <h5 class="uppercase pages-sidebar-item-title">Proyectos Relacionados</h5>
                {% for related_project in related_projects %}
                  <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                    <div class="imgbox-small left">
                      <a href="{% url 'detail_project_view' related_project.id %}">
                        <img src="{{ related_project.get_primary_image.url }}" alt="" class="img-responsive"/>
                      </a>
                    </div>
                    <div class="text-box-right">
                      <h6 class="uppercase nopadding">
                        <a href="{% url 'detail_project_view' related_project.id %}" class="text-hover-gyellow">{{ related_project.title }}</a>
                      </h6>
                      <div class="blog-post-info padding-top-1">
                        <a href="{% url "user_profile" related_project.owner.id %}"><span> {{ related_project.owner }}</span> </a>
                      </div>
                    </div>
                  </div>
                  <div class="divider-line solid light margin"></div>
                {% endfor %}
                <!--end post-->
              </div>
            {% endif %}
            <!--end item holder-->

            <div class="pages-sidebar-item">
              <h5 class="uppercase pages-sidebar-item-title">Tags</h5>
              <ul class="pages-tags">
                <li><a href="#">Animation</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">UI Design</a></li>
                <li><a href="#">Photography</a></li>
                <li><a class="active" href="#">Design</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Responsive</a></li>
                <li><a href="#">Develop</a></li>
              </ul>
            </div>
            <!--end item holder-->
            <div class="pages-sidebar-item">
              <h5 class="uppercase pages-sidebar-item-title">Featured Works</h5>
              <ul class="sidebar-works">
                <li><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
                <li><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
                <li><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
                <li><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
                <li><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
                <li class="last"><a href="#"><img src="http://via.placeholder.com/600x600" alt=""/></a></li>
              </ul>
            </div>
            <!--end item holder-->

          </div>
          <!--end right col-->

        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <a class="scrollup" href="#"></a><!-- end scroll to top of the page-->
  </div>
  <!--end site wrapper-->
  </div>
{% endblock %}
