{% extends 'base.html' %}
{% load core_tags thumbnail %}
{% block content %}
  {% load i18n static %}
  <section class="section-side-image clearfix">
    <div class="img-holder col-md-12 col-sm-12 col-xs-12">
      <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x1000);"><img alt="" class="nodisplay-image" src="http://via.placeholder.com/1500x1000"> </img></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
          <div class="header-inner less-height">
            <div class="overlay">
              <div class="text text-center">
                <h3 class="uppercase text-white less-mar-1 title">Portfolio</h3>
                <h6 class="uppercase text-white sub-title"> Lightbox Gallery</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class=" clearfix"></div>
  <!--end header section -->
  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>{% trans "Find Projects" %}</h4>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">{% trans "Home" %}</a></li>
              <li class="current"><a href="#">{% trans "Projects" %}</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!--end section-->
  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div><a class="btn btn-medium border dark xround-7 uppercase" href="{% url "add_project" %}">{% trans "Nuevo Proyecto" %}</a></div>
      </div>
      <div class="row sec-padding">
        {% for project in object_list %}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="img-hover-4">
              <div class="text-box ">
                <h5 class="text-white">{{ project.title }}</h5>
                <p class="text-light">{{ project.brief_description }}</p>
              </div>
              {% thumbnail project.images.first "485x618" crop="center" as im %}
                <img src="{{ im.url }}" alt="" class="img-responsive"/>
              {% endthumbnail %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!-- end section -->
{% endblock %}

{% block extra_template_scripts %}
  <!-- Template scripts -->
  <script type="text/javascript" src="{% static "js/cubeportfolio/jquery.cubeportfolio.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/cubeportfolio/lightbox-gallery.js" %}"></script>
{% endblock %}

