.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

#people-block {
    padding-top: 2px;
}


#people-sublock {
    padding-top: 40px;
}

.header-section.white {
  background-color: #fff !important;
}
