{% load i18n static webp_converter %}
<section class="sec-padding-4 section-primary">
</section>
<div class="clearfix"></div>
<!--end section-->

<div class="sec-padding section-dark">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 col-centered text-center"> <img src="{% static_webp "images/logo/logo-join.png" %}" alt=""/>
        <div class="clearfix"></div>
        <ul class="footer-quick-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Usuarios</a></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Foro</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Contáctenos</a></li>
        </ul>
        <div class="divider-line solid light opacity-1"></div>
        <ul class="footer-social-icons round">
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <div class="col-md-12">
          <p class="text-gray">Copyright © 2018 <br/>
            Design & Developed by Cecilia Belén Morales, María Luz Boero.</p>
        </div>
      </div>
    </div>
  </div>
</div>
