{% load i18n static webp_converter %}
<section class="section-side-image sec-bpadding-2 clearfix">
  <div class="img-holder col-md-12 col-sm-3 pull-left">
    <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x960);"><img alt="" class="nodisplay-image" src="http://via.placeholder.com/1500x960"> </img></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title-container text-center">
          <h5 class="font-weight-4 less-mar-1 line-height-4 montserrat opacity-7">We are expert at Latest Technologies</h5>
          <h2 class="font-weight-6 less-mar-1 montserrat line-height-5">We are good at technologies, Graphic <br/>
            design and pixel perfect icons</h2>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare.</h6>
        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula Etiam sit. </p>
        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus</p>
      </div>
      <!--end item-->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!--bar-->
        <div class="progress progressbar-style6 ">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar" role="progressbar" style="width: 80%;"> Javascript 80% </div>
        </div>
        <!--end bar-->
        <!--bar-->
        <div class="progress progressbar-style6 ">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 90%;"> Photoshop 90% </div>
        </div>
        <!--end bar-->
        <!--bar-->
        <div class="progress progressbar-style6 ">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar" role="progressbar" style="width: 70%;"> Logo Design 70% </div>
        </div>
        <!--end bar-->
        <!--bar-->
        <div class="progress progressbar-style6 ">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar" role="progressbar" style="width: 75%;"> Photography 75% </div>
        </div>
        <!--end bar-->
      </div>
      <!--end column-->
    </div>
  </div>
</section>
