{% load i18n static core_tags thumbnail %}
<section class="section-side-image section-dark sec-padding-5 clearfix">
  <div class="img-holder col-md-12 col-sm-3 pull-left">
    {% get_image_by_slug "news-background" as news_background %}
    <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x960);"><img alt="" class="nodisplay-image" src="{{ news_background.file.url }}"> </img></div>
  </div>
  <div class="container-fluid">
    <div class="row slider-btn-2">
      <div class="owl-carousel owl-theme" id="owl-demo17">
        <div class="item">
          <div class="col-md-6 col-md-offset-5">
            <div class="ce-feature-box-49">
              <div class="top-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <h3 class="raleway font-weight-3">Diseñador industrial más famoso de América. </h3>
              </div>
              <div class="text-box">
                <h2 class="font-weight-6 less-mar-1 text-white opacity-5">Congreso Internacional de Diseño </h2>
                <br/>
                <p>El presente congreso se llevará a cabo en la sede de <strong>Sheraton Hotel</strong> el día <strong>10 de noviembre</strong> desde las <strong>10 am a 18:00hs.</strong></p>
                <p>El mismo esta destinado a profesionales del Diseño Gráfico, Indumentaria, Fotografía, Diseño de Interiores, Arquitectura, Marketing, entre otros.</p>
                <p>Alguno de los ejes a tratar son: Diseño, Empresa y Ciudad, Diseño social y ciudades inclusivas, Diseños y políticas públicas, entre otras temáticas a abordar. La misma tiene un costo de $2.000. Por más información puedes visitar la siguiente página: <a href="https://goo.gl/GWNq6a">https://goo.gl/GWNq6a</a></p>
                <div class="clearfix"></div>
                <br/>
                <br/>
                <a class="btn btn-medium border border-2x border-white uppercase xround-7" href="#">+ MÁS INFO</a> </div>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end carousel item-->
        <div class="item">
          <div class="col-md-6 col-md-offset-5">
            <div class="ce-feature-box-49">
              <div class="top-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <h3 class="raleway font-weight-3">Workshops en Diseño, Comunicación y Moda. </h3>
              </div>
              <div class="text-box">
                <h2 class="font-weight-6 less-mar-1 text-white opacity-5">¿Quieres vivir la experiencia del diseño por un día? </h2>
                <br/>
                <p>Acércate a vivir una dosis de creatividad y motivación en estado puro con los workshops de IED Master.</p>
                <p>Los workshops son experiencias formativas en diseño y comunicación que contemplan un contacto directo con profesionales de sectores como la Moda, el Design, la Comunicación o el Management.</p>
                <p>Gracias a estos talleres creativos de gran intensidad, podrás trabajar de una mano a mano con reconocidos profesionales y obtener una visión más completa, profesional y multidisciplinar de los diferentes ámbitos de trabajo.</p>
                <p>MOTIVACIÓN, CREATIVIDAD, TÉCNICA</p>
                <p>Elige cuál es el workshop que más se encaja a ti y escríbenos para informarte de cómo acercarte a vivir esta experiencia IED por un día:
                  Fernanda Suárez (Servicio de Información y Orientación), m.suarez@madrid.ied.es.</p>
                <div class="clearfix"></div>
                <br/>
                <br/>
                <a class="btn btn-medium border border-2x border-white uppercase xround-7" href="#">+ MÁS INFO</a> </div>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end carousel item-->
        <div class="item">
          <div class="col-md-6 col-md-offset-5">
            <div class="ce-feature-box-49">
              <div class="top-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <h3 class="raleway font-weight-3">Pop Up Experience. </h3>
              </div>
              <div class="text-box">
                <h2 class="font-weight-6 less-mar-1 text-white opacity-5">Pop Up - Better - Workshops IED Master Madrid </h2>
                <br/>
                <p>Desde el concepto a la realización de un espacio pop up. Una nueva manera de posicionar las marcas.</p>
                <p>Una Pop Up es un espacio comercial temporal, el espacio puede ser una venta de productos un día y hospedar un restaurante al mes siguiente. Las Pop-Up son espacios temporales que mediante marketing experiencial permiten a las marcas tener una presencia en los sitios más emblemáticos y cotizados de las ciudades y ampliar su presencia en el mercado durante un tiempo determinado.</p>
                <p>Enfocaremos este workshop a analizar las características de estos espacios de manera integral: su concepto, comunicación, marketing, gestión y, por supuesto, el diseño y realización.</p>
                <p>Se generará un microproyecto tomando todos estos puntos en cuenta para poder generar dentro una breve pero potente Pop Up Experience.</p>
                <p>Agencia Better - Workshops IED Master Madrid</p>
                <p>Días 26, 27 y 28 de enero.
                  26 y 27 – De 19 a 22.30 h.
                  28 – De 10 a 14 h</p>
                <div class="clearfix"></div>
                <br/>
                <br/>
                <a class="btn btn-medium border border-2x border-white uppercase xround-7" href="#">+ MÁS INFO</a> </div>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end carousel item-->
      </div>
      <!--end carousel-->
    </div>
  </div>
</section>
