{% load i18n static webp_converter %}
<div class="parallax vertical-align" data-parallax-bg-image="http://via.placeholder.com/2000x1300" data-parallax-direction="down" data-parallax-speed="0.9">
  <div class="parallax-overlay bg-opacity-9">
    <div class="container sec-tpadding-2 sec-bpadding-2">
      <div class="row">
        <div class="col-md-12">
          <h2 class="font-weight-6 less-mar-1 montserrat text-white text-center line-height-4">What our Clients says</h2>
        </div>
        <div class=" clearfix"></div>
        <br/>
        <div class="col-md-8 col-centered text-center slide-controls-2">
          <div class="owl-carousel owl-theme" id="owl-demo3">
            <div class="item">
              <h4 class="raleway text-white font-weight-4 opacity-4">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare.</h4>
              <br/>
              <h5 class="text-white less-mar-1">Matthew</h5>
              <p class="text-primary">Manager - Mediatricks</p>
            </div>
            <!--end carousel item-->
            <div class="item">
              <h4 class="raleway text-gray font-weight-3">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare.</h4>
              <br/>
              <h5 class="text-white less-mar-1">Charlotte</h5>
              <p class="text-primary">Manager - Mediatricks</p>
            </div>
            <!--end carousel item-->
            <div class="item">
              <h4 class="raleway text-gray font-weight-3">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare.</h4>
              <br/>
              <h5 class="text-white less-mar-1">John Doe</h5>
              <p class="text-primary">Manager - Mediatricks</p>
            </div>
            <!--end carousel item-->
          </div>
          <!--end carousel-->
        </div>
        <!--end item-->
      </div>
    </div>
  </div>
</div>
