{% load i18n static core_tags %}
{% get_image_by_slug "foro-background" as forobackground %}
<section class="section-side-image section-light sec-padding-5 clearfix" style="background:url({{ forobackground.image.url }});">
  <div class="container">
    <div class="row slide-controls-4">
      <div class="col-sm-12">
        <div class="sec-title-container text-center less-padding-5">
          <h5 class="font-weight-4 less-mar-1 line-height-4 montserrat opacity-5 text-white">¿Tienes alguna inquietud con respecto a algún tema? Este es tu espacio para compartirlo, no temas a hacer preguntas, de eso se aprende</h5>
          <h2 class="font-weight-6 less-mar-1 montserrat line-height-5 text-white">GENIALIDADES COMPARTIDAS<br></h2>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->
      <div class="owl-carousel owl-theme" id="owl-demo3">
        <div class="item">
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Matthew</h6>
                <span>Manager</span> </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Jennifer</h6>
                <span>Designer</span> </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Benjamin</h6>
                <span>Developer</span> </div>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end carousel item-->
        <div class="item">
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Matthew</h6>
                <span>Manager</span> </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Jennifer</h6>
                <span>Designer</span> </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-4">
            <div class="ce-feature-box-33 h-shadow-2 margin-bottom">
              <div class="text-box text-center">
                <div class="quote-icon"><i aria-hidden="true" class="fa fa-quote-left"></i></div>
                <div class="clearfix"></div>
                <br/>
                <p>Elit odio erat vel eget consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                <div class="clearfix"></div>
                <br/>
                <div class="divider-line solid light-2"></div>
                <br/>
                <div class="imgbox-tiny round center overflow-hidden"><img alt="" class="img-responsive" src="http://via.placeholder.com/100x100"/></div>
                <h6 class="less-mar-1 title montserrat">Benjamin</h6>
                <span>Developer</span> </div>
            </div>
          </div>
          <!--end item-->
        </div>
        <!--end carousel item-->
      </div>
      <!--end carousel main-->
    </div>
  </div>
</section>

