{% load i18n static thumbnail core_tags %}
<section id="people-block" class="section-light">
  <div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
    {% get_image_by_slug "users-background" as userbackground %}
    <div class="parallax vertical-align" data-parallax-bg-size="none" data-parallax-bg-image="{{ userbackground.file.url }}" data-parallax-direction="down" data-parallax-speed="0.9">
    <div class="parallax-overlay bg-opacity-8">
      <div id="people-sublock" class="container sec-tpadding-3 sec-bpadding-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="sec-title-container text-center less-padding-4">
              <h2 class=" raleway font-weight-b less-mar-1 uppercase text-white">PERSONAS CON TALENTOS</h2>
              <h6 class="ce-sub-text big-width raleway text-gray">DESCUBRÍ A DISEÑADORES CON TALENTOS DIFERENTES A LOS TUYOS </h6>
              <h6 class="ce-sub-text big-width raleway text-gray">PARA HACER REALIDAD UNA IDEA O PROYECTO.</h6>
            </div>
          </div>
          <div class="clearfix"></div>
          <!--end title-->
          {% for user in popular_users %}
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="ce-feature-box-13">
                <div class="img-box">
                  <div class="text-box" style="min-height: 375px;">
                    <div class="sc-icons-box">
                      <ul class="sc-icons">
                        {% if user.twitter_profile %}<li><a class="twitter" target="_blank" href="{{ user.get_twitter_profile_url }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                        {% if user.facebook_profile %}<li><a target="_blank" href="{{ user.get_facebook_profile_url }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                        {% if user.instagram_profile %}<li><a class="active" target="_blank" href="{{ user.get_instagram_profile_url }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
                        {% if user.linkedin_profile %}<li><a target="_blank"  href="{{ user.get_linkedin_profile_url }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                      </ul>
                    </div>
                    <a href="{% url "user_profile" user.pk %}"><h5 class="uppercase raleway less-mar-1 title">{{ user.get_full_name }}</h5></a>
                    <p class="text-primary">{{ user.profession }}</p>
                    <p class="padding-top-1">{% if user.brief_introduction %}{{ user.brief_introduction }}{% endif %}</p>
                  </div>
                  <div class="overlay"></div>
                  {% thumbnail user.picture "370x420" crop="center" format="PNG" as im %}
                    <img alt="" class="img-responsive" src="{{ im.url }}"/>
                  {% endthumbnail %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  </div>
</section>
