{% load thumbnail webp_converter %}
<section class="sec-padding" style="padding: 40px 0 40px 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title-container text-center less-padding-4">
          <h2 class="font-weight-6 less-mar-1 line-height-5 text-primary montserrat">PROYECTOS QUE INSPIRAN</h2>
          <h4 class="font-weight-3 less-mar-1 montserrat line-height-3">PROPONE TU IDEA Y CREA UN PROYECTO EN CONJUNTO</h4>
          <h4 class="font-weight-3 less-mar-1 montserrat line-height-3">CON OTROS DISEÑADORES.<br/></h4>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->
      {% for project in popular_projects %}
        <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom">
          <div class="ce-feature-box-43">
            <div class="main-box">
              <div class="img-box" style="height: 343px;">
                <div class="overlay">
                  <a href="{% url "detail_project_view" project.id %}"><p class="small-text text-center" style="width: 250px">{{ project.description }}</p></a>
                  <br/>
                </div>
                {% thumbnail project.images.first.file "270x342" format="WEBP" crop="center" as im %}
                  <img alt="" class="img-responsive" src="{{ im.url }}"/>
                {% empty %}
                {% endthumbnail %}
              </div>
              <div class="text-box text-center">
                <a href="{% url "detail_project_view" project.id %}"><h5 class="nopadding title">{{ project.title }}</h5></a>
                <a href="{% url "user_profile" project.owner.pk %}"><p class="subtext">{{ project.owner.get_full_name }}</p></a>
              </div>
            </div>
          </div>
          <!--end feature box-->
        </div>
      {% endfor %}
      <!--end item-->
    </div>
  </div>
</section>
