{% load i18n static %}
<section>
        <div class="videobgholder">
          <div id="wrapper">
            <div id="customElement">
              <div class="container-fluid nopadding">
                <div class="video-overlay bg-opacity-7">
                  <div class="container video-tpadd video-bpadd">
                    <div class="col-md-8 col-centered text-center">
                      <div class="col-sm-12">
                        <div class="sec-title-container less-padding-4 text-center">
                          <h2 class="font-weight-6 less-mar-1 montserrat line-height-5 text-white">Join, el sitio donde los diseñadores<br/>
                            encuentran su lugar.</h2>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <!--end title-->
                      <button class="command vbutton pause" id="togglePlay" onclick="jQuery('#video').YTPTogglePlay(changeLabel)">PAUSA</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="player" data-property="{videoURL:'kQ0wj864aMQ',containment:'#customElement', showControls:false, autoPlay:true, loop:true, vol:50, mute:true, startAt:0,  stopAt:10, opacity:1, addRaster:true, quality:'hd720', optimizeDisplay:true}" id="video">My video</a> </div>
      </section>
<div class="clearfix"></div>
<section class="sec-padding section-medium-dark">
  <div class="container">
    <div class="row">
      <!--end title-->
      <div class="col-md-3">
        <div class="ce-feature-box-54">
          <div class=" icon-plain-large left icon"><span class="icon-linegraph"></span></div>
          <div class="clearfix"></div>
          <br/>
          <h4 class="title">Trabajo Colaborativo</h4>
          <p class="small-text">Trabajar en equipo con objetivos comunes, asumiendo un compromiso y respetando las opiniones de cada uno de los integrantes.</p>
          <div class="clearfix"></div>
          <br/>
          <br/>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-54">
          <div class=" icon-plain-large left icon"><span class="icon-strategy"></span></div>
          <div class="clearfix"></div>
          <br/>
          <h4 class="title">Intercambio de Ideas</h4>
          <p class="small-text">Dos cabezas piensan mejor que una, y unir las ideas de los integrantes para un proyecto es el mejor resultado.</p>
          <div class="clearfix"></div>
          <br/>
          <br/>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-54">
          <div class=" icon-plain-large left icon"><span class="icon-target"></span></div>
          <div class="clearfix"></div>
          <br/>
          <h4 class="title">Interdisciplina</h4>
          <p class="small-text">Combinar las diferentes disciplinas del Diseño con las habilidades, capacidades, los intereses y conocimientos que cada uno tiene, permite una retroalimientación donde todos aprenden y crecen.</p>
          <div class="clearfix"></div>
          <br/>
          <br/>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-54">
          <div class=" icon-plain-large left icon"><span class="icon-globe"></span></div>
          <div class="clearfix"></div>
          <br/>
          <h4 class="title">Conexiones</h4>
          <p class="small-text">Nos une una pasión, y es el Diseño, como una forma de vivir, un modo de comunicarnos, de relacionarnos con los demás. Conectados desde el comienzo de la idea, hacemos Diseño para las personas.</p>
          <div class="clearfix"></div>
          <br/>
          <br/>
        </div>
      </div>
      <!--end item-->
    </div>
  </div>
</section>
