{% load i18n static core_tags %}
<div class="col-md-12 nopadding">
  <div class="header-section white style1 links-dark pin-style">
    <div class="container">
      <div class="mod-menu">
        <div class="row">
          <div class="col-sm-2"> <a class="logo style-2 mar-4" href="{% url "home_view" %}" title=""> <img alt="" src="{% static "images/logo/logo-join.png" %}  "/> </a> </div>
          <div class="col-sm-10">
            <div class="main-nav">
              <ul class="nav navbar-nav top-nav">
                <li class="search-parent"> <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                  <div class="search-box ">
                    <div class="content">
                      <div class="form-control">
                        <input placeholder="{% trans "Escribe aquí lo que deseas buscar" %}" type="text">
                        <a class="search-btn mar-1" href="#"><i aria-hidden="true" class="fa fa-search"></i></a>
                        </input>
                      </div>
                      <a class="close-btn mar-1" href="#">x</a> </div>
                  </div>
                </li>
                <li class="cart-parent"> <a href="javascript:void(0)" title=""> <i aria-hidden="true" class="fa fa-user"></i> <span class="number mar2"> 4 </span> </a>
                  <div class="cart-box">
                    {% if user.is_authenticated %}
                      <div class="content">
                        <div class="border-light">
                          <div class="row">
                            <div class="col-md-12"> <i class="fa fa-user-circle"></i> {{ user.get_full_name }} </div>
                            <div class="col-md-12"> <a href="#"><i class="fa fa-user"></i> {% trans "Editar Perfil" %}</a> </div>
                            <div class="col-md-12"> <a href="#"><i class="fa fa-commenting"></i> {% trans "Notificaciones" %}</a> </div>
                            <div class="col-md-12"> <a href="#"><i class="fa fa-envelope"></i> {% trans "Mensajes" %}</a> </div>
                            <div class="col-md-12"><a class="btn btn-dark-3 btn-half-fullwidth uppercase" href="{% url 'logout' %}?next={% url 'home_view' %}">{% trans "Salir" %}</a></div>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="content">
                        <form action="{% url 'login' %}" method="post" id="login-form">{% csrf_token %}
                          <div class=" border-light">
                            <div class="row">
                              {% if form.errors %}
                                <div class="col-md-12">
                                  <p class=" label label-danger">
                                    Your username and password didn't match.
                                    Please try again.
                                  </p>
                                </div>
                              {% endif %}
                              <div class="col-md-12">
                                <label class="lable-text" for="id_username"> {% trans "Usuario" %}</label>
                                <input class="input-1" id="id_username" name="username" placeholder="Name or Email" type="text"/>
                              </div>
                              <div class="col-md-12">
                                <label class="lable-text" for="id_password"> {% trans "Contraseña" %}</label>
                                <input class="input-1" id="id_password" name="password" placeholder="Password" type="password"/>
                              </div>
                              <div class="col-md-12 text-left">
                                <input type="submit" value="Login"
                                       class="btn btn-dark-3 btn-half-fullwidth uppercase" />
                                <input type="hidden" name="next" value="{% url 'home_view' %}" />
                              </div>
                              {% url 'admin_password_reset' as password_reset_url %}
                              <div class="col-md-12"><small><a href="#">{% trans "Registrarse" %}</a>{% if password_reset_url %} / <a href="{{ password_reset_url }}">{% trans "Recuperar Contraseña" %}</a>{% endif %}</small></div>
                            </div>
                            <!-- end row -->
                          </div>
                        </form>
                        <!--end form body-->
                      </div>
                    {% endif %}
                  </div>
                </li>
                <li class="visible-xs menu-icon"> <a aria-expanded="false" class="navbar-toggle collapsed" data-target="#menu" data-toggle="collapse" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
              </ul>
              <div class="collapse" id="menu">
                <ul class="nav navbar-nav">
                  <li class="right {% active_menu "home" %}"> <a href="{% url "home_view" %}">{% trans "Home" %}</a> <span class="arrow"></span></li>
                  <li class="{% active_menu "users" %}"> <a href="{% url "find_users" %}">{% trans "Usuarios" %}</a> <span class="arrow"></span>
                  <li class="mega-menu {% active_menu "projects" %}"> <a href="{% url "list_project" %}">{% trans "Proyectos" %}</a> <span class="arrow"></span>
                    <ul>
                      <li> <a href="#" title="home samples">{% trans "Filtrar por Estado" %}</a> <span class="arrow"></span>
                        <ul>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Proyectos Abiertos" %}</a> </li>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Proyectos Iniciados" %}</a> </li>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Proyectos Finalizados" %}</a> </li>
                        </ul>
                      </li>
                      <li> <a href="#">{% trans "Filtrar por Disciplina" %}</a> <span class="arrow"></span>
                        <ul>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Diseño Gráfico" %}</a> </li>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Diseño de Indumentaría" %}</a> </li>
                          <li> <a href="{% url "list_project" %}"><i class="fa fa-angle-right"></i> &nbsp; {% trans "Diseño de Interiores" %}</a> </li>
                        </ul>
                      </li>
                      {% if user.is_authenticated %}
                      <li> <a href="#">{% trans "Ultimos Vistos" %}</a> <span class="arrow"></span>
                        <ul>
                          {% if user.projects_viewed.count %}
                            {% for project in user.projects_viewed.all %}
                            <li> <a href="{% url "detail_project_view" project.id %}"><i class="fa fa-angle-right"></i> &nbsp; {{ project.title }}</a> </li>
                            {% endfor %}
                          {% else %}
                            <li><p class="text-center">{% trans "No visitaste ningun proyecto aún! ¿Por qué no encuentras uno que te guste?" %}</p></li>
                          {% endif %}
                          <li> <a class="btn btn-medium border dark xround-7 uppercase" href="{% url "list_project" %}">{% trans "Ver Proyectos" %}</a> </li>
                        </ul>

                      </li>
                      <li> <a href="#">{% trans "Mis Proyectos" %}</a> <span class="arrow"></span>
                        <ul>
                          {% if user.my_projects.count %}
                            {% for project in user.my_projects.all %}
                              <li> <a href="{% url 'detail_project_view' project.id %}"><i class="fa fa-angle-right"></i> &nbsp; {{ project.title }}</a> </li>
                            {% endfor %}
                          {% else %}
                            <li><p class="text-center">{% trans "No tienes proyectos aún! ¿Por qué no creas uno?" %}</p></li>
                          {% endif %}
                          <li> <a class="btn btn-medium border dark xround-7 uppercase" href="{% url "add_project" %}">{% trans "Nuevo Proyecto" %}</a> </li>
                        </ul>
                      </li>
                      {% endif %}
                    </ul>
                  </li>
                  <li class="{% active_menu "forum" %}"> <a href="{% url "forum_view" %}">{% trans "Foro" %}</a> <span class="arrow"></span>
                  <li class="{% active_menu "news" %}"> <a href="{% url "news_view" %}">{% trans "Noticias" %}</a> <span class="arrow"></span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
