{% load static i18n %}
<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
{% include "loader.html" %}
<div class="wrapper-boxed">
  <div class="site-wrapper">
    <!--Section 0: HEADER-->
    {% include "partials/top_navbar.html" %}
    <div class="clearfix"></div>
    {% block content %}

      <!--Section 1: Features-->
      {% include "partials/slider.html" %}
      <div class="clearfix"></div>

      <!--Section 2: People -->
      {% include "partials/people.html" %}
      <div class="clearfix"></div>

      <!--Section 3: Proyecs -->
      {% include "partials/projects.html" %}
      <div class="clearfix"></div>

      <!--Section 4: Counters -->
      {% include "partials/counters.html" %}
      <div class="clearfix"></div>

      <!--Section 5: Collaborate-->
      {% include "partials/participate.html" %}
      <div class="clearfix"></div>

      <!--Section 6: Fans -->
      {% include "partials/fans.html" %}
      <div class="clearfix"></div>

      <!--Section 7: Services-->
      {% include "partials/services.html" %}
      <div class="clearfix"></div>

      <!--Section 8: Community counters -->
      {% include "partials/community.html" %}
      <div class="clearfix"></div>

      <!--Section 9: Opinions -->
      {% include "partials/opinions.html" %}
      <div class="clearfix"></div>

      <!--Section 10: About Us-->
      {% include "partials/about.html" %}
      <div class="clearfix"></div>
    {% endblock %}

    <!-- SCROLL UP -->
    <a class="scrollup" href="#"><i aria-hidden="true" class="fa fa-angle-up"></i></a><!-- end scroll to top of the page-->
  </div>
  <!--end site wrapper-->
</div>

<!-- Scripts -->
{% block scripts %}
  <script src="{% static "js/jquery/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
  <script src="{% static "js/style-customizer/js/spectrum.js" %}"></script>
  <script src="{% static "js/less/less.min.js" %}" data-env="development"></script>
{% endblock %}
<!-- Scripts END -->

<!-- Template scripts -->
{% block template_scripts %}
  <script src="{% static "js/megamenu/js/main.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ytplayer/jquery.mb.YTPlayer.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ytplayer/elementvideo-custom.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ytplayer/play-pause-btn.js" %}"></script>
{% endblock %}

{% block extra_template_scripts %}
{% endblock %}

<!-- REVOLUTION JS FILES -->
{% block revolution_scripts %}
  <script type="text/javascript" src="{% static "js/revolution-slider/js/jquery.themepunch.tools.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/jquery.themepunch.revolution.min.js" %}"></script>
  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
  (Load Extensions only on Local File Systems !
  The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.actions.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.carousel.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.migration.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.navigation.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.parallax.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/revolution-slider/js/extensions/revolution.extension.video.min.js" %}"></script>


  <script type="text/javascript">
      var tpj=jQuery;
      var revapi104;
      tpj(document).ready(function() {
          if(tpj("#rev_slider_104_1").revolution == undefined){
              revslider_showDoubleJqueryError("#rev_slider_104_1");
          }else{
              revapi104 = tpj("#rev_slider_104_1").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"js/revolution-slider/js/",
                  sliderLayout:"auto",
                  dottedOverlay:"none",
                  delay:9000,
                  navigation: {
                      keyboardNavigation:"off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation:"off",
                      onHoverStop:"off",
                      touch:{
                          touchenabled:"on",
                          swipe_threshold: 75,
                          swipe_min_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false
                      }
                      ,
                      bullets: {
                          enable:true,
                          hide_onmobile:true,
                          hide_under:960,
                          style:"zeus",
                          hide_onleave:false,
                          direction:"horizontal",
                          h_align:"right",
                          v_align:"bottom",
                          h_offset:80,
                          v_offset:50,
                          space:5,
                          tmp:'<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title">{{title}}</span>'
                      }
                  },
                  responsiveLevels:[1240,1024,778,480],
                  gridwidth:[1240,1024,778,480],
                  gridheight:[700,700,960,720],
                  lazyType:"none",
                  parallax: {
                      type:"mouse",
                      origo:"slidercenter",
                      speed:2000,
                      levels:[2,3,4,5,6,7,12,16,10,50],
                      disable_onmobile:"on"
                  },
                  shadow:0,
                  spinner:"off",
                  stopLoop:"on",
                  stopAfterLoops:0,
                  stopAtSlide:1,
                  shuffle:"off",
                  autoHeight:"off",
                  fullScreenAlignForce:"off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "60px",
                  disableProgressBar:"on",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                      simplifyAll:"off",
                      nextSlideOnWindowFocus:"off",
                      disableFocusListener:false,
                  }
              });
              var newCall = new Object(),
                  cslide;

              newCall.callback = function() {
                  var proc = revapi104.revgetparallaxproc(),
                      fade = 1+proc,
                      scale = 1+(Math.abs(proc)/10);

                  punchgs.TweenLite.set(revapi104.find('.slotholder, .rs-background-video-layer'),{opacity:fade,scale:scale});
              }
              newCall.inmodule = "parallax";
              newCall.atposition = "start";

              revapi104.bind("revolution.slide.onloaded",function (e) {
                  revapi104.revaddcallback(newCall);
              });				}
      });	/*ready*/
  </script>


  <script src="{% static "js/jFlickrFeed/jflickrfeed.min.js" %}"></script>
  <script>
      $('#basicuse').jflickrfeed({
          limit: 6,
          qstrings: {
              id: '133294431@N08'
          },
          itemTemplate:
          '<li>' +
          '<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a>' +
          '</li>'
      });
  </script>

  <script>
      $(window).load(function(){
          setTimeout(function(){

              $('.loader-live').fadeOut();
          },1000);
      })

  </script>

  <script src="{% static "js/parallax/parallax-background.min.js" %}"></script>
  <script>
      (function ($) {
          $('.parallax').parallaxBackground();
      })(jQuery);
  </script>
  <script src="{% static "js/tabs/js/responsive-tabs.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static "js/cubeportfolio/jquery.cubeportfolio.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/cubeportfolio/main-mosaic3-cols3.js" %}"></script>
  <script src="{% static "js/owl-carousel/owl.carousel.js" %}"></script>
  <script src="{% static "js/owl-carousel/custom.js" %}"></script>
  <script src="{% static "js/owl-carousel/owl.carousel.js" %}"></script>
  <script src="{% static "js/accordion/js/smk-accordion.js" %}"></script>
  <script src="{% static "js/accordion/js/custom.js" %}"></script>
  <script src="{% static "js/progress-circle/raphael-min.js" %}"></script>
  <script src="{% static "js/progress-circle/custom.js" %}"></script>
  <script src="{% static "js/progress-circle/jQuery.circleProgressBar.js" %}"></script>
  <script src="{% static "js/functions/functions.js" %}"></script>

{% endblock %}

</body>
</html>
