{% load i18n static %}
<section class="sec-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="ce-feature-box-42 margin-bottom">
          <div class="icon-plain-small center dark icon"><span class="icon-basket"></span></div>
          <br/>
          <h2 class="font-weight-6 less-mar-1 title">{% trans "Mejores Proyectos" %}</h2>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-42 margin-bottom">
          <div class="icon-plain-small center dark icon"><span class="icon-layers"></span></div>
          <br/>
          <h2 class="font-weight-6 less-mar-1 title">{% trans "Proyectos Abiertos" %}</h2>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-42 active margin-bottom">
          <div class="icon-plain-small center dark icon"><span class="icon-map"></span></div>
          <br/>
          <h2 class="font-weight-6 less-mar-1 title">{% trans "Usuarios Destacados" %}</h2>
        </div>
      </div>
      <!--end item-->
      <div class="col-md-3">
        <div class="ce-feature-box-42 margin-bottom">
          <div class="icon-plain-small center dark icon"><span class="icon-camera"></span></div>
          <br/>
          <h2 class="font-weight-6 less-mar-1 title">{% trans "Mis Favoritos" %}</h2>
        </div>
      </div>
      <!--end item-->
    </div>
  </div>
</section>
