{% load i18n static %}
<section class="sec-padding section-light" style="padding-top: 17px">
  <div class="container-fluid">
    <div class="parallax vertical-align" data-parallax-bg-image="{% static "images/users-background.png" %}" data-parallax-direction="down" data-parallax-speed="0.9">
      <div class="parallax-overlay bg-opacity-8">
        <div class="container sec-tpadding-3 sec-bpadding-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="sec-title-container text-center">
                <h2 class=" raleway font-weight-b less-mar-1 uppercase text-white">PERSONAS INCREÍBLES</h2>
                <h6 class="ce-sub-text big-width raleway text-gray">QUE TE ENCANTARÍA CONOCER</h6>
              </div>
            </div>
            <div class="clearfix"></div>
            <!--end title-->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="ce-feature-box-13">
                <div class="img-box">
                  <div class="text-box">
                    <div class="sc-icons-box">
                      <ul class="sc-icons">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                    <h5 class="uppercase raleway less-mar-1 title">MARÍA LUZ BOERO</h5>
                    <p class="text-primary">Diseñadora</p>
                    <p class="padding-top-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo.</p>
                  </div>
                  <div class="overlay"></div>
                  <img alt="" class="img-responsive" src="{% static "images/people/people-3.png" %}"> </img></div>
              </div>
            </div>
            <!--end item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="ce-feature-box-13">
                <div class="img-box">
                  <div class="text-box">
                    <div class="sc-icons-box">
                      <ul class="sc-icons">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                    <h5 class="uppercase raleway less-mar-1 title">CECILIA BELÉN MORALES</h5>
                    <p class="text-primary">Diseñadora</p>
                    <p class="padding-top-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo.</p>
                  </div>
                  <div class="overlay"></div>
                  <img alt="" class="img-responsive" src="{% static "images/people/people-2.png" %}"> </img></div>
              </div>
            </div>
            <!--end item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="ce-feature-box-13">
                <div class="img-box">
                  <div class="text-box">
                    <div class="sc-icons-box">
                      <ul class="sc-icons">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                    <h5 class="uppercase raleway less-mar-1 title">FEDERICO MARCELO CASTRO</h5>
                    <p class="text-primary">Esclavo</p>
                    <p class="padding-top-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo.</p>
                  </div>
                  <div class="overlay"></div>
                  <img alt="" class="img-responsive" src="{% static "images/people/people-1.png" %}"/> </div>
              </div>
            </div>
            <!--end item-->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
