{% load i18n static %}
<div class="col-md-12 nopadding">
  <div class="header-section style1 pin-style">
    <div class="container">
      <div class="mod-menu">
        <div class="row">
          <div class="col-sm-2"> <a class="logo style-2 mar-4" href="index.html" title=""> <img alt="" src="{% static "images/logo/logo.png" %}  "/> </a> </div>
          <div class="col-sm-10">
            <div class="main-nav">
              <ul class="nav navbar-nav top-nav">
                <li class="search-parent"> <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                  <div class="search-box ">
                    <div class="content">
                      <div class="form-control">
                        <input placeholder="{% trans "Escribe aquí lo que deseas buscar" %}" type="text">
                        <a class="search-btn mar-1" href="#"><i aria-hidden="true" class="fa fa-search"></i></a>
                        </input>
                      </div>
                      <a class="close-btn mar-1" href="#">x</a> </div>
                  </div>
                </li>
                <li class="cart-parent"> <a href="javascript:void(0)" title=""> <i aria-hidden="true" class="fa fa-user"></i> <span class="number mar2"> 4 </span> </a>
                  <div class="cart-box">
                    <div class="content">
                      <div class="row">
                        <div class="col-xs-8"> 2 item(s) </div>
                        <div class="col-xs-4 text-right"> <span>$99</span> </div>
                      </div>
                      <ul>
                        <li> <img alt="" src="http://via.placeholder.com/80x80"/> Jean &amp; Teashirt <span>$30</span> <a class="close-btn" href="#" title="">x</a> </li>
                        <li> <img alt="" src="http://via.placeholder.com/80x80"/> Jean &amp; Teashirt <span>$30</span> <a class="close-btn" href="#" title="">x</a> </li>
                      </ul>
                      <div class="row">
                        <div class="col-xs-6"> <a class="btn btn-block btn-warning" href="#" title="View Cart">View Cart</a> </div>
                        <div class="col-xs-6"> <a class="btn btn-block btn-primary" href="#" title="Check out">Check out</a> </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="visible-xs menu-icon"> <a aria-expanded="false" class="navbar-toggle collapsed" data-target="#menu" data-toggle="collapse" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
              </ul>
              <div class="collapse" id="menu">
                <ul class="nav navbar-nav">
                  <li class="right active"> <a href="/">{% trans "Home" %}</a> <span class="arrow"></span></li>
                  <li> <a href="/">{% trans "Usuarios" %}</a> <span class="arrow"></span>
                  <li> <a href="/">{% trans "Proyectos" %}</a> <span class="arrow"></span>
                  <li> <a href="/">{% trans "Foro" %}</a> <span class="arrow"></span>
                  <li> <a href="/">{% trans "Noticias" %}</a> <span class="arrow"></span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
